<!DOCTYPE html>
<html ng-app="imcApp">
<head>
  <script src="https://code.angularjs.org/1.3.5/angular.min.js"></script>
</head>
<body ng-controller="ImcController">
  <label>Peso <input type="number" ng-model="peso"/> kg</label><br/>
  <label>Altura <input type="number" ng-model="altura"/> m</label><br/>
  <button ng-click="calculaImc()">Calcular IMC</button>
  <div ng-show="exibeResultados">
    <hr/>
    <div>IMC: <span>{{ imc | number:2 }}</span></div>
    <div>Situação: <span>{{ situacao }}</span></div>
  </div>
  <script>
    angular.module('imcApp', [])
    .controller('ImcController', function ($scope, imcService) {
      $scope.calculaImc = function () {
        $scope.imc = imcService.calculaImc($scope.peso, $scope.altura);
        if (isNaN($scope.imc)) {
          return;
        }
        $scope.situacao = imcService.classificaImc($scope.imc);
        $scope.exibeResultados = true;
      }
    })
    .factory('imcService', function () {
      return {
        calculaImc: function (peso, altura) {
          return peso / (altura * altura);
        },
        classificaImc: function (imc) {
          if (imc < 18.5) {
            return 'Abaixo do peso';
          } else if (imc >= 18.5 && imc < 25) {
            return 'Peso normal';
          } else if (imc >= 25) {
            return 'Acima do peso';
          }
        }
      }
    });
  </script>
</body>
</html>
